# --- C/C++ Prerequisites & Objects ---
*.d
*.o
*.ko
*.obj
*.out
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch

# --- Libraries & Shared Objects ---
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# --- Executables & Binaries ---
*.exe
*.app
*.i*86
*.x86_64
*.hex
bin/
build/
.cache/
/inertialink

# --- Debug & Compile Info ---
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dwo

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# --- PlatformIO ---
.pio/
esp32_firmware/.pio/

# --- Python & Machine Learning ---
.venv/
__pycache__/
*.py[cod]
*$py.class

# Ignore our generated ML datasets (CSVs and Pickles)
data/
*.pkl
*.csv

# --- OS & Editor Junk ---
.DS_Store
*.swp
.vscode/
.idea/
